<aside class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered bg-white  ">
    <div class="navbar-vertical-container">
      <div class="navbar-vertical-footer-offset">
        <!-- Logo -->

        <a class="navbar-brand" href="index.html" aria-label="Front">
          <img class="navbar-brand-logo" src="../assets/svg/logos/logo.svg" alt="Logo" data-hs-theme-appearance="default">
          <img class="navbar-brand-logo" src="../assets/svg/logos-light/logo.svg" alt="Logo" data-hs-theme-appearance="dark">
          <img class="navbar-brand-logo-mini" src="../assets/svg/logos/logo-short.svg" alt="Logo" data-hs-theme-appearance="default">
          <img class="navbar-brand-logo-mini" src="../assets/svg/logos-light/logo-short.svg" alt="Logo" data-hs-theme-appearance="dark">
        </a>

        <!-- End Logo -->

        <!-- Navbar Vertical Toggle -->
        <button type="button" class="js-navbar-vertical-aside-toggle-invoker navbar-aside-toggler">
          <i class="bi-arrow-bar-left navbar-toggler-short-align" data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' data-bs-toggle="tooltip" data-bs-placement="right" title="Collapse"></i>
          <i class="bi-arrow-bar-right navbar-toggler-full-align" data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' data-bs-toggle="tooltip" data-bs-placement="right" title="Expand"></i>
        </button>

        <!-- End Navbar Vertical Toggle -->

        <!-- Content -->
        <div class="navbar-vertical-content">
          <div id="navbarVerticalMenu" class="nav nav-pills nav-vertical card-navbar-nav">

            <div class="nav-item">
                <a class="nav-link" routerLink="/universite/accueil"  data-placement="left">
                    <i class="bi-house-door nav-icon"></i>
                  <span class="nav-link-title">Accueil</span>
                </a>
              </div>

              <div class="nav-item">
                <a class="nav-link " routerLink="/universite/etudiant" data-placement="left">
                    <i class="bi-people nav-icon"></i>
                  <span class="nav-link-title">Etudiants</span>
                </a>
              </div>
              <div class="nav-item">
                <a class="nav-link " routerLink="/universite/filiere" data-placement="left">
                    <i class="bi-stickies nav-icon"></i>
                  <span class="nav-link-title">Filiére</span>
                </a>
              </div>

              <div class="nav-item">
                <a class="nav-link " routerLink="/universite/annee" data-placement="left">
                    <i class="bi-calendar-week nav-icon"></i>
                  <span class="nav-link-title">Année academique</span>
                </a>
              </div>

              <div class="nav-item">
                <a class="nav-link " routerLink="/universite/etudiant" data-placement="left">
                  <i class="bi-book nav-icon"></i>
                  <span class="nav-link-title">Inscription</span>
                </a>
              </div>
            

            
<!-- 
            <span class="dropdown-header mt-4">Layouts</span>
            <small class="bi-three-dots nav-subtitle-replacer"></small>

            <div class="nav-item">
              <a class="nav-link " href="layouts/index.html" data-placement="left">
                <i class="bi-grid-1x2 nav-icon"></i>
                <span class="nav-link-title">Layouts</span>
              </a>
            </div>

            <span class="dropdown-header mt-4">Documentation</span>
            <small class="bi-three-dots nav-subtitle-replacer"></small>

            <div class="nav-item">
              <a class="nav-link " href="documentation/index.html" data-placement="left">
                <i class="bi-book nav-icon"></i>
                <span class="nav-link-title">Documentation <span class="badge bg-primary rounded-pill ms-1">v2.1.1</span></span>
              </a>
            </div>

            <div class="nav-item">
              <a class="nav-link " href="documentation/typography.html" data-placement="left">
                <i class="bi-layers nav-icon"></i>
                <span class="nav-link-title">Components</span>
              </a>
            </div> -->
          </div>

        </div>
        <!-- End Content -->

        <!-- Footer -->
       
        <!-- End Footer -->
      </div>
    </div>
  </aside>